<div class="container-fluid ">
    <div class="row justify-content-center">
      <div class="col-md-8 col-sm-10 vertical-center">
        <div class="card">
          <div class="card-header">
            <div class="col-auto bg-ganger p-1">
              <h4>Patient</h4>
            </div>
          </div>
          <app-mini-table [cols]="cols" [items]="items" [paginateObject]="paginateObject" [edit]="true" [delete]="true"
            (onEditClick)="onEditClick($event)" (onDeleteClick)="onDeleteClick($event)"></app-mini-table>
        </div>
      </div>
    </div>
  </div>