<div class="container minita-container">
    <div class="row">
        <div class="col-md-12" style="text-align: center;">
            <h5>Mantenimiento Rol</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-primary" (click)="update()">Actualizar</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <app-mini-filter></app-mini-filter>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <app-mini-table [cols]="cols" [items]="items" [paginateObject]="paginateObject"
                (onPageChange)="onPageChange($event)"></app-mini-table>
        </div>
    </div>




</div>