<nav class="navbar navbar-expand navbar-dark bg-dark px-2">
  <div class="side-nav-button p-2 me-3 text-light">
    <i class="fa-solid fa-bars"></i>
  </div>

    <a class="navbar-brand px-4" >Minita Gaa</a>

    <div class="navbar-collapse">
      <ul class="navbar-nav me-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"  role="button" data-bs-toggle="dropdown">
            Menu 1
          </a>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item" >Opcion 1</a></li>
            <li><a class="dropdown-item" >Opcion 2</a></li>
            <li><a class="dropdown-item" >Opcion 3</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"  role="button" data-bs-toggle="dropdown">
            Menu 2
          </a>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item" >Opcion 1</a></li>
            <li><a class="dropdown-item" >Opcion 2</a></li>
            <li><a class="dropdown-item" >Opcion 3</a></li>
          </ul>
        </li>
        
      </ul>
    </div>

    <form class="d-flex me-5" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>

    <div class="profile-logo dropstart">
      <button class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown">
        Inicio
      </button>
      <ul class="dropdown-menu dropdown-menu-dark">
        <li><a  class="dropdown-item"></a>Sign Up</li>
        <li><a  class="dropdown-item"></a>Log In</li>
        <li><a  class="dropdown-item"></a>Your Profile</li>
        <li><a  class="dropdown-item"></a>Log Out</li>
      </ul>
    </div>
</nav>


<!-- <nav class="navbar fixed-bottom navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="">Control-Minita</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/home/principal">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/person">Admin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/principal">Conta</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="">Logic</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="">Contr</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav> -->