<br>
<div class="container-fluid" [@dosearch]="status">
    <div class="row">
        <div class="col" style=" text-align:  center;">
            <h4>Historial clinico</h4>
        </div>
    </div>
</div>
<div class="container-fluid" [@dosearch]="status">
    <div class="row">
        <div class="col">
            <div class="input-group mb-3">
                <input type="text" class="form-control form-control-lg" placeholder="Número de documento"
                    aria-label="Número de documento" [(ngModel)]="nroDocumento" [disabled]="patientGet!=undefined" (keyup.enter)="getConsultation()">
                <button *ngIf="!patientGet" (click)="getConsultation()" class="btn btn-outline-primary"
                    type="button"><fa-icon [icon]='"search"'></fa-icon></button>
                <button *ngIf="patientGet" (click)="cancel()" class="btn btn-outline-danger" type="button"><fa-icon
                        [icon]='"times"'></fa-icon></button>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">



    <div class="row">

        <div class="col-md-3" *ngIf="patientGet">
            <div class="card border-info">
                <div class="card-header">
                    <div class="d-flex justify-content-between">
                        <h5>Información general</h5>
                        <div class="btn-group" role="group">
                            <button class="btn btn-primary" ><fa-icon [icon]='"pen-to-square"'></fa-icon></button>

                        </div>
                    </div>
                </div>
                <!-- <div class="card-header">
                    <h5>Información general</h5>
                </div> -->
                <div class="card-body" *ngIf="patientGet.persona">
                    <img class=" oversize" src="/assets/images/user.png" alt="image">
                    <br>
                    <div class="row mt-3" style="text-align: center;">
                        <div class="col-sm-12">
                            <p class="card-text"><strong>Nombres:</strong> {{patientGet.persona.nombre}}</p>
                        </div>
                        <div class="col-sm-12">
                            <p><strong>Nro. Documento: </strong> {{patientGet.persona.numeroDocumento}}</p>

                        </div>
                        <div class="col-sm-12">
                            <p><strong>Tipo Documento: </strong> {{patientGet.persona.tipoDocumento}}</p>
                            <p> </p>

                        </div>
                        <div class="col-sm-12">
                            <p><strong>Fecha Nacimiento: </strong> {{patientGet.persona.fechaNacimiento}}</p>
                        </div>
                        <div class="col-sm-12">
                            <p><strong>Edad: </strong> {{patientGet.persona.fechaNacimiento | age}}</p>
                        </div>
                        <div class="col-sm-12">
                            <p><strong>Genero: </strong> {{patientGet.persona.genero}}</p>
                        </div>
                        <div class="col-sm-12">
                            <p><strong>Celular: </strong>{{patientGet.persona.celular}}</p>
                        </div>
                        <div class="col-sm-12">
                            <p><strong>Email: </strong> {{patientGet.persona.email}}</p>
                        </div>
                        <div class="col-sm-12">
                            <p><strong>Direccion: </strong> {{patientGet.persona.direccion}}</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-9" *ngIf="patientGet">
            <div class="card border-warning">
                <div class="card-header">
                    <div class="d-flex justify-content-between">
                        <h5>Anamnesis</h5>

                    </div>
                </div>
                <div class="card-body">
                    <div class="row mt-3">
                        <div class="col-sm-12 mb-2">
                            <p><strong>Observaciones: </strong> </p>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <p><strong>Alergias:</strong></p>
                            <ul class="list-group">
                                <ng-container *ngFor="let item of patientGet.alergias">
                                    <li class="list-group-item list-group-item-warning">{{item}}</li>
                                </ng-container>
                            </ul>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <p><strong>Enfermedades </strong> </p>
                            <ul class="list-group">
                                <ng-container *ngFor="let item of patientGet.enfermedades">
                                    <li class="list-group-item list-group-item-warning">{{item}}</li>
                                </ng-container>

                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-header">
                    <div class="d-flex justify-content-between">
                        <h5>Consultas</h5>
                        <div class="btn-group" role="group">
                            <button (click)="newConsultation()" class="btn btn-primary"><fa-icon [icon]='"plus"'></fa-icon></button>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div class="row mt-3">
                        <div class="col-12">
                            <div class="list-group">
                                <ng-container *ngIf="patientGet.consultations?.length==0; else consultaionsList">
                                    <a class=" list-group-item list-group-item-action " aria-current=" true">
                                        <div class="justify-content-between">
                                            <h5 class="mb-1" style="text-align: center;">No hay consultas</h5>
                                        </div>
                                    </a>
                                </ng-container>

                                <ng-template #consultaionsList>
                                    <ng-container *ngFor="let item of patientGet.consultations">
                                        <a class=" list-group-item list-group-item-action " aria-current=" true">
                                            <div class="d-flex w-100 justify-content-between">
                                                <h5 class="mb-1">Código: {{item.code}}</h5>
                                                <small>{{item.date | timeAgoDetailed}}</small>
                                                <small>{{item.status}}</small>
                                            </div>
                                            <p class="mb-1">{{item.description}}</p>
                                            <small>{{item.price}}</small>
                                        </a>
                                    </ng-container>
                                </ng-template>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>