<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="card" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                    <li class="nombre">{{patient?.persona?.nombre}}</li>
                    <li class="apellido">{{patient?.persona?.apaterno}}</li>
                    <li class="dni">{{patient?.persona?.numeroDocumento}}</li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <button type="button" (click)="onProcedureClick()" class="btn btn-success">Procedimiento</button>
        </div>
    </div>
    <div class="container-table">
        <table class="table">
            <thead>
                <tr>
                    <th class="action">

                    </th>
                    <th class="action">

                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of items">
                    <ng-container *ngFor="let col of Cards">
                        <div class="card" style="width: 5rem;">
                            <img src="symbol" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title"></h5>
                                <p class="card-text"></p>
                            </div>
                            <div class="card-body">
                            </div>
                        </div>
                    </ng-container>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<ng-template #modalActions>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Procedimiento </h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form autocomplete="off" formGroup="procedureselected">
            <div class="row">
                <div class="col-md-12">
                    <label for="name" class="form-label">Nombre</label>
                </div>
                <div class="col-md-12">
                    <label for="comments" class="form-label">Comentarios</label>
                    <textarea type="text" class="form-control" id="comments" formControlName="comments"></textarea>
                </div>
                <button type="button" class="btn btn-success">Guardar</button>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" (click)="onAddProcedure"><fa-icon [icon]='"floppy-disk"'></fa-icon>
            Agregar</button>
    </div>
</ng-template>