<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 justify-content-between" style=" text-align:  center;">
            <div class="d-flex w-100 justify-content-between pt-1 pb-1">
                <h4 *ngIf="!attention.id">Nueva Atencion</h4>
                <h4 *ngIf="attention.id">Atencion {{attention.id}}</h4>
                <div>
                    <button (click)="saveChanges()" class="btn btn-success btn-sm ms-1"><fa-icon
                            [icon]='"floppy-disk"'></fa-icon>
                        Guardar</button>
                    <button class="btn btn-secondary btn-sm ms-1"><fa-icon [icon]='"comment"'></fa-icon>
                        Comentarios</button>
                    <button (click)="reload()" *ngIf="attention.id" class="btn btn-warning btn-sm ms-1"><fa-icon
                            [icon]='"arrow-rotate-right"'></fa-icon>
                        Actualizar</button>

                    <button type="button" (click)="onProcedureClick()" class="btn btn-success btn-sm ms-1">Nuevo
                        Procedimiento</button>


                </div>

            </div>
            <div class="col justify-content-end" style=" text-align:  center;">
                <div class="alert alert-warning" role="alert" style="padding: 0.2rem;">
                    <fa-icon [icon]='"triangle-exclamation"'></fa-icon> No se guardaron los cambios.
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" *ngIf="patientGet">
        <div class="row">
            <div class="col-md-8">
                <div class="card ">
                    <div class="card-body" *ngIf="consultation">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="card-title">Precio: {{consultation.price | currency:'PEN'}}
                            </h5>
                            <h6 class="text-body-secondary"> Pagado: {{consultation.balance | currency:'PEN'}} </h6>
                            <p class="text-body-secondary"><strong>Estado: </strong> {{consultation.status}}</p>
                        </div>

                        <h6 class="card-subtitle mb-1 text-body-secondary"> Fecha: {{consultation.date |
                            timeAgoDetailed}}
                        </h6>

                        <p *ngIf="consultation.description" class="card-text"><strong>Descripcion: </strong>
                            {{consultation.description}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card ">
                    <div class="card-body" *ngIf="patientGet.persona">
                        <h5 class="card-title">Paciente: {{patientGet.persona.nombre}} {{patientGet.persona.apaterno}}
                            {{patientGet.persona.amaterno}}
                        </h5>
                        <h6 class="card-subtitle mb-1 text-body-secondary"> {{patientGet.persona.numeroDocumento}}</h6>
                        <p class="card-text"><strong>Edad: </strong> {{patientGet.persona.fechaNacimiento |
                            age}} años</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>

    <ng-template #modalActions>
        <div class="modal-header">
            <h4 class="modal-title pull-left">Procedimiento </h4>
            <button type="button" class="btn-close close pull-right" aria-label="Close">
                <span aria-hidden="true" class="visually-hidden">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-6">
                    <form autocomplete="off" [formGroup]="procedureselected">
                        <div class="row">
                            <div class="col-md-12">
                                <label for="name" class="form-label">Nombre</label>
                                <input type="text" class="form-control" id="name" formControlName="name" readonly>
                            </div>
                            <div class="col-md-12">
                                <label for="comments" class="form-label">Comentarios</label>
                                <textarea type="text" class="form-control" id="comments"
                                    formControlName="comments"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-6">
                    <ul class="list-group list-group-horizontal">
                        <ng-container *ngFor="let item of symbolsList">
                            <li class="list-group-item d-flex align-items-stretch p-0">
                                <div class="flex-grow-1 list-group-content p-1">
                                    <div class="d-flex w-100 justify-content-between P-1">
                                        <h6 class="mb-1">{{item.acronym}}</h6>
                                        <small>{{item.group}}</small>
                                    </div>
                                    <img class="oversize" [src]="item.image" alt="image">
                                   
                                </div>
                                <button (click)="selectSymbol(item)"
                                    class="btn btn-danger btn-sm rounded-0 flex-fill button-g-list"><fa-icon
                                        [icon]='"trash"'></fa-icon></button>
                            </li>
                        </ng-container>
                    </ul>


                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" (click)="onAddProcedure"><fa-icon [icon]='"floppy-disk"'></fa-icon>
                Agregar</button>
        </div>
    </ng-template>