<div class="container minita-container">
    <div class="row minita-row justify-content-between">
        <div class="col">
            <h5>Mantenimiento Usuario</h5>
        </div>
        <div class="col" style="text-align: end;">
            <button class="btn btn-warning btn-sm me-1" (click)="update()"><fa-icon [icon]='"rotate-right"'>
                </fa-icon></button>
            <button class="btn btn-primary btn-sm" [routerLink]="'create'"><fa-icon [icon]='"plus"'>
                </fa-icon> Nuevo</button>
        </div>
    </div>

    <div class="row minita-row">
        <div class="col-md-12">
            <app-mini-table [cols]="cols" [items]="items" [paginateObject]="paginateObject" [edit]="true"
                [delete]="true" (onPageChange)="onPageChangexx($event)" (onEditClick)="onEditClick($event)"
                (onDeleteClick)="onDeleteClick($event)"></app-mini-table>
        </div>
    </div>
</div>
