<br>
<div class="container minita-container">
    <div class="card">
        <div class="card-header">
            Nuevo usuario
        </div>
        <div class="card-body">
            <form (submit)="saveData()" [formGroup]="userForm" autocomplete="off">
                <div class="row g-3">
                    <div class="col-md-6">
                        <label for="firstname" class="form-label">Nombres</label>
                        <input type="text" class="form-control" id="firstname" formControlName="firstName">
                    </div>
                    <div class="col-md-6">
                        <label for="lastName" class="form-label">Apellidos</label>
                        <input type="text" class="form-control" id="lastName" formControlName="lastName">
                    </div>
                    <div class="col-md-6 col-sm-10">
                        <label for="username" class="form-label">Usuario</label>
                        <input type="text" class="form-control" id="username" formControlName="username">
                    </div>
                    <div class="col-md-6 col-sm-2">
                        <label for="email" class="form-label">Email</label>
                        <input autocomplete="new-email" type="email" class="form-control" id="email"
                            formControlName="email">
                    </div>
                    <div class="col-md-6">
                        <label for="passwordform" class="form-label">Contraseña</label>
                        <input autocomplete="new-password" type="password" class="form-control" id="passwordform"
                            formControlName="password">
                    </div>
                    <div class="col-md-6">
                        <label for="reppassword" class="form-label">Repita Contraseña</label>
                        <input type="password" class="form-control" id="reppassword" formControlName="reppassword">
                    </div>

                </div>
            </form>

            <!-- <form [formGroup]="personform" autocomplete="off">

                <div class="row g-3">
                    <div class="col-6">
                        <label for="NroDoc" class="form-label">Nro. Documento</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="NroDoc" formControlName="numeroDocumento">
                            <button class="btn btn-outline-secondary" type="button" (click)="searchPerson()"><fa-icon
                                    [icon]='"search"'></fa-icon></button>
                        </div>
                    </div>
                    <div class="col-6">
                        <label for="tipoDoc" class="form-label">Tipo Documento</label>
                        <select class="form-select" id="tipoDoc" formControlName="tipoDocumento">
                            <option *ngFor="let item of documentType|async" value="item.value">{{item.label}}
                            </option>
                        </select>
                    </div>

                    <div class="col-4">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre" formControlName="nombre">
                    </div>
                    <div class="col-4">
                        <label for="apPaterno" class="form-label">Apellido Paterno</label>
                        <input type="text" class="form-control" id="apPaterno" formControlName="apaterno">
                    </div>
                    <div class="col-4">
                        <label for="apMaterno" class="form-label">Apellido Materno</label>
                        <input type="text" class="form-control" id="apMaterno" formControlName="amaterno">
                    </div>
                    <div class="col-6">
                        <label for="email" class="form-label">Email</label>
                        <input type="text" class="form-control" id="email" formControlName="email">
                    </div>
                    <div class="col-6">
                        <label for="fechaNac" class="form-label">Fecha Nacimiento</label>
                        <input type="date" class="form-control" id="fechaNac" formControlName="fechaNacimiento">
                    </div>
                </div>
            </form> -->
            <hr>

            <button type="button" class="btn btn-primary" (click)="saveData()">Guardar</button>

        </div>
    </div>
</div>