<div class="container minita-container">
    <form (submit)="create()" [formGroup]="menuForm">
        <h5>Creacion de Menu</h5>
        <div class="row minita-row justify-content-between">
            <div class="col">
                <p-floatLabel>
                    <input id="name" type="text" pInputText formControlName="name" />
                    <label for="name">Nombre</label>
                </p-floatLabel>
            </div>
            <div class="col ">
                <p-buttonGroup>
                    <p-button label='  Agregar Submenu' [raised]="true" severity="primary" icon="pi pi-plus"
                        (onClick)="openModal()" size="small" />
                    <p-button label="   Guardar" [raised]="true" severity="success" type="submit" icon="pi pi-save"
                        size="small" />
                    <p-button label="   Cancelar" [raised]="true" severity="danger" type="button" (onClick)="goBack()"
                        icon="pi pi-times" size="small" />
                </p-buttonGroup>
            </div>
        </div>
    </form>
</div>



<div class="container-fluid">
    <div class="row">
        <!-- acctions / cotizaciones -->
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex justify-content-between">
                        <h5>Submenus</h5>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <ul class="list-group">
                                <ng-container *ngIf="menu?.subMenu==null; else actionsList">
                                    <a class=" list-group-item list-group-item-action " aria-current=" true">
                                        <div class="justify-content-between">
                                            <h5 class="mb-1" style="text-align: center;">No hay submenus</h5>
                                        </div>
                                    </a>
                                </ng-container>
                                <ng-template #actionsList>
                                    <ng-container *ngFor="let item of menu?.subMenu ">
                                        <li class="list-group-item d-flex align-items-stretch p-0">
                                            <div class="flex-grow-1 list-group-content p-1">
                                                <div class="d-flex w-100 justify-content-between P-1">
                                                    <h6 class="mb-1">{{item.name}}</h6>
                                                </div>
                                            </div>
                                            <div class="row" style="padding: 0.5rem; ">
                                                <div class="col">
                                                    <button (click)="editMenu(item)"
                                                        class="btn btn-outline-warning btn-sm rounded-0 flex-fill button-g-list"><fa-icon
                                                            [icon]='"edit"'></fa-icon></button>
                                                </div>
                                                <div class="col">
                                                    <button (click)="deleteMenu(item)"
                                                        class="btn btn-danger btn-sm rounded-0 flex-fill button-g-list"><fa-icon
                                                            [icon]='"trash"'></fa-icon></button>
                                                </div>
                                            </div>

                                        </li>
                                    </ng-container>
                                </ng-template>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>




        <div class="card flex justify-content-center">
            <p-dialog header="Edit Profile" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
                <span class="p-text-secondary block mb-5">Inserte datos.</span>
                <form (submit)="addSubmenu()" [formGroup]="submenuForm">
                    <div class="flex align-items-center gap-3 mb-3">
                        <label for="name" class="font-semibold w-6rem">Nombre</label>
                        <input pInputText id="name" class="flex-auto" autocomplete="off" formControlName="name" />
                    </div>
                    <div class="flex justify-content-end gap-2">
                        <p-button label="Cancelar" severity="secondary" (onClick)="visible = false" />
                        <p-button label="Save" type="submit" />
                    </div>
                </form>
            </p-dialog>
        </div>