<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <form (submit)="create()" [formGroup]="menuForm">
                <div class="card flex flex-wrap gap-3 justify-content-center">
                    <div class="row" style="margin-top: 1rem;">
                        <div class="col dm-6 p-3">
                            <p-floatLabel>
                                <input id="name" type="text" pInputText formControlName="name" />
                                <label for="name">Nombre</label>
                            </p-floatLabel>
                        </div>
                        <div class=" col md-6 p-3" style="text-align: right;">
                            <p-button label=' Agregar Submenu' [raised]="true" severity="primary"
                                (onClick)="openModal()">
                                <fa-icon [icon]='"plus"'></fa-icon>
                            </p-button>
                        </div>
                        <div class="col md-6 p-3" style="text-align: right;">
                            <p-button label="  Guardar" [raised]="true" severity="success" type="submit">
                                <fa-icon [icon]='"floppy-disk"'></fa-icon>
                            </p-button>
                        </div>
                        <div class="col md-6 p-3" style="text-align: right;">
                            <p-button label="  Cancelar" [raised]="true" severity="danger" type="button"
                                (onClick)="goBack()">
                                <fa-icon [icon]='"x"'></fa-icon>
                            </p-button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <!-- acctions / cotizaciones -->
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex justify-content-between">
                        <h5>Submenus</h5>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <ul class="list-group">
                                <ng-container *ngIf="menu?.subMenu==null; else actionsList">
                                    <a class=" list-group-item list-group-item-action " aria-current=" true">
                                        <div class="justify-content-between">
                                            <h5 class="mb-1" style="text-align: center;">No hay submenus</h5>
                                        </div>
                                    </a>
                                </ng-container>
                                <ng-template #actionsList>
                                    <ng-container *ngFor="let item of menu?.subMenu ">
                                        <li class="list-group-item d-flex align-items-stretch p-0">
                                            <div class="flex-grow-1 list-group-content p-1">
                                                <div class="d-flex w-100 justify-content-between P-1">
                                                    <h6 class="mb-1">{{item.name}}</h6>
                                                </div>
                                            </div>
                                            <button (click)="editMenu(item)"
                                                class="btn btn-danger btn-sm rounded-0 flex-fill button-g-list"><fa-icon
                                                    [icon]='"trash"'></fa-icon></button>
                                        </li>
                                    </ng-container>
                                </ng-template>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>




        <div class="card flex justify-content-center">
            <p-dialog header="Edit Profile" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
                <span class="p-text-secondary block mb-5">Inserte datos.</span>
                <form (submit)="addSubmenu()" [formGroup]="submenuForm">
                    <div class="flex align-items-center gap-3 mb-3">
                        <label for="name" class="font-semibold w-6rem">Nombre</label>
                        <input pInputText id="name" class="flex-auto" autocomplete="off" formControlName="name" />
                    </div>
                    <div class="flex justify-content-end gap-2">
                        <p-button label="Cancel" severity="secondary" (onClick)="visible = false" />
                        <p-button label="Save" type="submit" />
                    </div>
                </form>
            </p-dialog>
        </div>