<div class="container-fluid ">
  <div class="row justify-content-center">
    <div class="col-md-8 col-sm-10 vertical-center">
      <div class="card">
        <div class="card-header">
          <div class="col-auto bg-ganger p-1">
            <h4 *ngIf="!modoEditar">Registro Persona</h4>
            <h4 *ngIf="modoEditar">Editar Persona</h4>
          </div>
        </div>
        <div class="card-body">
          <div class="col-auto bg-ganger">
            <form (submit)="create()" [formGroup]="personform">
              <section class="form-register">
                <div class="col-auto bg-ganger p-1">
                  <label>Nombres</label>
                  <input class="form-control" type="text" name="nombres" id="nombres" placeholder="Ingrese su Nombre"
                    formControlName="nombre">
                </div>
                <div class="col-auto bg-ganger p-1">
                  <label>Apellido Paterno</label>
                  <input class="form-control" type="text" name="apellidos" id="apellidos"
                    placeholder="Ingrese su Apellido Paterno" formControlName="apaterno">
                </div>
                <div class="col-auto bg-ganger p-1">
                  <label>Apellido Materno</label>
                  <input class="form-control" type="text" name="apellidos" id="apellidos"
                    placeholder="Ingrese su Apellido Materno" formControlName="amaterno">
                </div>
                <div class="col-auto bg-ganger p-1">
                  <label>Email</label>
                  <input class="form-control" type="email" name="correo" id="correo" placeholder="Ingrese su Correo"
                    formControlName="email">
                </div>
                <div class="col-auto bg-ganger p-1">
                  <label>Selecciona Tipo de Documento</label>
                  <select class="form-select" aria-label="Default select example" formControlName="tipoDocumento">
                    <option selected>Tipo Documento</option>
                    <option value="dni">DNI</option>
                    <option value="Passaporte">Passaporte</option>
                    <option value="libreta electoral">LE</option>
                  </select>
                </div>
                <div class="col-auto bg-ganger p-1">
                  <label class="form-label">Numero de Documento</label>
                  <input class="form-control" type="documento" name="documento" id="documento"
                    placeholder="Ingrese su Numero de Documento" formControlName="numeroDocumento">
                </div>
                <div class="col-auto bg-ganger p-1">
                  <label>Selecciona Genero</label>
                  <select class="form-select" aria-label="Default select example" formControlName="tipoDocumento">
                    <option value="dni">Masculino</option>
                    <option value="Passaporte">Femenino</option>
                  </select>
                </div>
                <div class="col-auto bg-ganger p-1">
                  <label class="form-label">Direccion </label>
                  <input class="form-control" type="documento" name="direccion" id="direccion"
                    placeholder="Ingrese su la direccion" formControlName="direccion">
                </div>
                <div class="col-auto bg-ganger p-1">
                  <label class="form-label">Celular </label>
                  <input class="form-control" type="celular" name="celular" id="celular"
                    placeholder="Ingrese su celular" formControlName="celular">
                </div>

                <div class="col-auto bg-ganger p-1">
                  <label class="form-label">Fecha de Nacimiento</label>
                  <input class="form-control" type="date" name="fecha" id="fecha nacimiento"
                    placeholder="Ingrese Fecha de nacimiento" formControlName="fechaNacimiento">
                </div>
                <div class="col-auto bg-ganger p-1" *ngIf="!modoEditar">
                  <input class="botons" type="submit" value="Registrar">
                </div>
                <div class="col-auto bg-ganger p-1" *ngIf="modoEditar">
                  <input class="botons" type="submit" value="Actualizar Datos">
                </div>
              </section>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>