.modal-content {
    animation-name: example !important;
    animation-duration: 0.5s !important;
    // transition: width 1.35s ease-in-out !important;
}


.fade:not(.show) {
   // transition: opacity 2.15s linear !important;
   animation-name: example !important;
   animation-duration: 0.5s !important;
}


@keyframes example {
    0% {
        transform: scale(0.5)
    }

    75% {
        transform: scale(1.1)
    }

    100% {
        transform: scale(1)
    }
}


@keyframes zoomOut {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}